.header {
  height: 96px;
  background: linear-gradient(0deg, #fcfcfc, #fcfcfc);

  border: 1px solid #dee2e6;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px #0000000f;
}
.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.logo__text {
  cursor: pointer;
  padding: 13px;
  font-family: NicoMoji;
  font-size: 26px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: left;
}
.logo__image {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.subheader {
  margin-top: 1px;
}
